@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Poppins:wght@600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  font-size: 14px;
  font-weight: 500;
  z-index: 999;
}

ul {
  list-style-type: none;
  background-color: aquamarine;
  height: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

ul.list-center li {
  display: flex;
  align-items: center;
  margin: 0 4px;
}

.footer {
  width: 100%;
  height: 60px;
}

.footer ul li {
  margin: 0 10px
}

.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-social-media ul {
  background-color: white;
}

.main-social-media ul li {
  margin: 0 16px;
}

.card-container {
  border-radius: 8px;
  margin: 15px 10px;
}

.card-container-row {
  display: flex;
  justify-content: space-around;
}

.card-title {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.card-stack-container {
  justify-content: space-between;
}

.card-text:last-child {
  margin-bottom: 16px;
}

.card-stack {
 background-color: #EBF0EE;
 padding: 6px 10px;
 font-size: 12px;
 font-weight: 600;
 border-radius: 4px;
}

.intro-info {
  font-size: 18px;
  font-weight: 400;
  color: #42526E;
  max-width: 750px;
  margin: 10px auto;
}

.get-gray {
  background-color: #EBF0EE;;
}

@media (max-width: 767px) {
  .card-container-row {
    display: flex;
    justify-content: center;
  }
}